<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <style>
        .failed{
        color:red ;}
    </style>
</head>
<body>
<h2>Login Page</h2>
<form action="#" th:action="@{/authenticateTheUser}" method="POST">
    <div th:if="${param.error}" class="failed">
        <i>You have entered invalid username/password</i>
    </div>
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" value="Login">

</form>
</body>
</html>